<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Registry Hub</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/img/logo.png" alt="" width="35" height="35">
        </a>
        <a class="navbar-brand" href="/">Reg-Hub</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/events">All vents</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item" >
                    <a class="nav-link" href="/myEvents">My events</a>
                </li>
                <li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
                    <a class="nav-link" href="#">Admin page</a>
                </li>
                <li sec:authorize="hasAuthority('CREATOR')" class="nav-item">
                    <a class="nav-link" href="/editor">Creator page</a>
                </li>
            </ul>
            <ul sec:authorize="isAuthenticated()" class="navbar-nav">
                <li class="nav-item">
                    <a sec:authentication="name" class="nav-link" th:href="@{/profile(id=${#authentication.principal.id})}">Username</a>
                </li>
                <li>
                    <form method="post" th:action="@{/logout}">
                        <button class="btn btn-primary ml-2" type="submit">Log out</button>
                    </form>
                </li>
            </ul>
            <ul sec:authorize="isAnonymous()" class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>