<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Registry Hub</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/nav :: navbar"></div>
<div class="row mt-5">
    <div class="col-md-2 themed-grid-col"></div>
    <div class="col-md-5 themed-grid-col">
        <div class="alert alert-success" role="alert" th:text="${successMessage}" th:if="${successMessage}"></div>
        <div class="alert alert-danger" role="alert" th:text="${errorMessage}" th:if="${errorMessage}"></div>
        <h3>Add event:</h3>
        <form method="post" th:action="@{editor/addEvent}" enctype="multipart/form-data">
            <div class="form-group row">
                <label for="eventTitle" class="col-sm-2 col-form-label">Event title</label>
                <div class="col-sm-10">
                    <input type="text" name="title" class="form-control" id="eventTitle" placeholder="Event title">
                </div>
                <div class="form-group">
                    <label for="eventDescription">Description</label>
                    <textarea name="description" class="form-control" id="eventDescription" rows="3"></textarea>
                </div>
                <div class="custom-file mt-1">
                    <label class="custom-file-label" for="eventImage">Choose event image: </label>
                    <input type="file" name="eventImage" class="custom-file-input" id="eventImage">
                </div>
                <button class="btn btn-primary mt-2" type="submit" th:text="'Create new event'"></button>
            </div>
        </form>
    </div>
    <div class="col-md-1 themed-grid-col"></div>
    <div class="col-md-3 themed-grid-col">
        <div th:replace="fragments/nav :: eventSidebar(currentUrl= @{${#httpServletRequest.requestURI}})"></div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
