<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Registry Hub</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/nav :: navbar"></div>
<div class="container-fluid bg-white">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="/img/defaultEventImage.png" class="d-block mx-lg-auto img-fluid" alt="Event image" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3" th:text="${event.title}"></h1>
                <p class="lead" th:text="${event.description}"></p>
                <p class="lead" th:if="${event.registrationEndDate}" th:text="Регистрация заканчивается ${event.registrationEndDate}"></p>
                <div sec:authorize="isAuthenticated()" class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <form method="post" th:action="@{event/cancel (id=${event.id})}" th:if="${isRegistered}">
                        <button type="submit" class="btn btn-outline-secondary btn-lg px-4">Cancel</button>
                    </form>
                    <form method="post" th:action="@{event/register (id=${event.id})} " th:unless="${isRegistered}">
                        <button type="submit" class="btn btn-primary btn-lg px-4 me-md-2">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5" style="max-width: 1080px">
    <div class="card mb-3 flex-fill" th:each="post : ${postList}">
        <div class="card-body">
            <h5 class="card-title" th:text="${post.title}"></h5>
            <p class="card-text" th:text="${post.text}"></p>
            <p class="card-text"><small class="text-muted" th:text="${post.getPublicationDate()}" >12.12.13</small></p>
        </div>
        <p>
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="'#comments_' + ${post.id}" th:text="${post.commentsCounter} + ' comments'">Open/Close</button>
        </p>
        <div class="collapse" th:id="'comments_' + ${post.id}">
            <div class="card">
                <div class="row g-0" th:each="comment : ${post.comments}">
                    <div class="col-md-1">
                        <img src="/img/main-logo" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${comment.author.username}"></h5>
                            <p class="card-text" th:text="${comment.text}"></p>
                            <p class="card-text"><small class="text-muted" th:text="'Published by ' + ${comment.author.username} + ' at ' + ${comment.publicationDate}"></small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div sec:authorize="isAuthenticated()">
            <p class="mt-2">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" th:data-bs-target="'#addCommentForm_' + ${post.id}" th:text="'Add comment'">add comment</button>
            </p>
            <div class="collapse" th:id="'addCommentForm_' + ${post.id}">
                <div class="card card-body">
                    <form method="post" th:action="@{/event/addComment (eventId=${event.id}, postId=${post.id})}">
                        <div class="form-group">
                            <label for="commentText">Comment:</label>
                            <textarea name="commentText" class="form-control" id="commentText" rows="2"></textarea>
                        </div>
                         <div class="mt-2">
                             <button class="btn btn-primary" type="submit">Send</button>
                         </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
