<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Registry Hub</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/nav :: navbar"></div>
<div class="row mt-5">
    <div class="col-md-2 themed-grid-col"></div>
    <div class="col-md-5 themed-grid-col">
        <div class="alert alert-success" role="alert" th:text="${successMessage}" th:if="${successMessage}"></div>
        <div class="alert alert-danger" role="alert" th:text="${errorMessage}" th:if="${errorMessage}"></div>
        <div><h2>Event editor</h2></div>
        <form method="post" th:action="@{/editor/event/edit (id = ${selectedEvent.id})}">
            <div class="form-group row">
                <label for="eventTitle" class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-7">
                    <input type="text" name="eventTitle" class="form-control" id="eventTitle" th:value="${selectedEvent.title}">
                </div>
            </div>
            <div class="form-group">
                <label for="eventDescription" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-9">
                    <textarea name="eventDescription" class="form-control" th:text="${selectedEvent.description}" id=eventDescription rows="3"></textarea>
                </div>
            </div>
            <button class="btn btn-primary mt-2" type="submit" th:text="'Save'"></button>
        </form>
        <hr>
        Admins list:
        <ul>
            <li th:each="admin : ${selectedEvent.admins}">
                <form method="post" th:action="@{/editor/event/deleteAdmin (id = ${selectedEvent.id})}">
                    <label for="'admin' + ${admin.id}" th:text="${admin.username} +' (' + ${admin.email} +')'"></label>
                    <button type="submit" class="btn btn-danger" id="'admin' + ${admin.id}">Delete</button>
                    <input type="hidden" name="adminId" th:value="${admin.id}">
                </form>
            </li>
        </ul>
        <form method="post" th:action="@{/editor/event/addAdmin (id = ${selectedEvent.id})}">
            <div class="form-group row">
                <label for="adminEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-6">
                    <input type="email" id="adminEmail" name="adminEmail" class="form-control" placeholder="adminEmail@example.com">
                </div>
            </div>
            <button class="btn btn-primary mt-2" type="submit">Add admin</button>
        </form>
        <hr>
        <p class="mt-2">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" th:data-bs-target="'#addPost'">Add post</button>
        </p>
        <div class="collapse container mt-5" th:id="'addPost'">
            <h3>Add Post:</h3>
            <form method="post" th:action="@{/editor/event/addPost (id= ${selectedEvent.id})}">
                <div class="form-group">
                    <label for="postTitle">Post title</label>
                    <input name="title" type="text" class="form-control" id="postTitle">
                </div>
                <div class="form-group">
                    <label for="postText">Description</label>
                    <textarea name="text" class="form-control" id="postText" rows="3"></textarea>
                </div>
                <div class="custom-file">
                    <label class="custom-file-label" for="customFile">Choose post image</label>
                    <input type="file" class="custom-file-input" id="customFile">
                </div>
                <input type="hidden" name="_csrf" value=${_csrf.token}>
                <button type="submit" class="btn btn-primary">Add post</button>
            </form>
        </div>
        <div class="container mt-2" style="max-width: 1080px">
            <h3>Event posts</h3>
            <div class="card mb-3 flex-fill" th:each="post : ${selectedEvent.posts}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${post.title}"></h5>
                    <p class="card-text" th:text="${post.text}"></p>
                    <p class="card-text"><small class="text-muted" th:text="'Published ' + ${post.getLastUpdateDuration()}"></small></p>
                </div>
                <p>
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="'#comments_' + ${post.id}" th:text="${post.commentsCounter} + ' comments'">Open/Close</button>
                </p>
                <div class="collapse" th:id="'comments_' + ${post.id}">
                    <div class="card">
                        <div class="row g-0" th:each="comment : ${post.comments}">
                            <div class="col-md-1">
                                <img th:src="${comment.author.avatar}?${comment.author.avatar.url} :'https://tannuki-space.fra1.digitaloceanspaces.com/images/default/user-avatar.svg'" class="img-fluid rounded-start" alt="user avatar">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${comment.author.username}"></h5>
                                    <p class="card-text" th:text="${comment.text}"></p>
                                    <p class="card-text"><small class="text-muted" th:text="${comment.getLastUpdateDuration()}"></small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1 themed-grid-col"></div>
    <div class="col-md-3 themed-grid-col">
        <div th:replace="fragments/nav :: eventSidebar(currentUrl= @{${#httpServletRequest.requestURI} (id = ${selectedEvent.id})})"></div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
