<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Registry Hub</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/nav :: navbar"></div>
<div class="row mt-5">
    <div class="col-md-3 themed-grid-col"></div>
    <div class="col-md-6 themed-grid-col">
        <div class="row row-cols-1 row-cols-md-1 g-4" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
            <ul class="nav nav-tabs" th:with="filter=${#request.getParameter('filter')}">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{${urlBuilder.replaceQueryParam('filter', 'all').build().toUriString()}}" th:classappend="${filter == 'all' or filter == null}? 'active':''" >Все</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{${urlBuilder.replaceQueryParam('filter', 'active').build().toUriString()}}" th:classappend="${filter == 'active'}? 'active':''" >Активные</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{${urlBuilder.replaceQueryParam('filter', 'archived').build().toUriString()}}" th:classappend="${filter == 'archived'}? 'active':''" >Прошедшие</a>
                </li>
            </ul>
            <div th:replace="fragments/eventLists :: eventCards (content = ${events})"></div>
            <div th:replace="fragments/nav :: pageNavigation (page = ${events}, currentUrl= @{${#httpServletRequest.requestURI}})"></div>
        </div>
    </div>
</div>
<div class="col-md-3 themed-grid-col"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
